/* === ALMA KIDS: MASTER STYLE 2025 === */

:root {
    --primary: #FF6B9D; /* Rosa Alma */
    --secondary: #4ecdc4; /* Turquesa */
    --text-dark: #1D1D1F;
    --text-grey: #86868B;
    --bg-body: #F5F5F7
